$if(verbose)$<!-- Atomic-FLOAT.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
$endif$$if(crudR)$<div ng-controller="AtomicController">$if(crudU)$
    <div class="input-group" style="min-width:60px;">$if(exprIsUni)$
        <input ng-model="resource['$name$']" my-bluronenter type="number" placeholder="0.00" class="form-control input-sm" ng-blur="saveItem(resource, '$name$', patchResource)">$else$
        <span><i>not supported</i></span>$endif$
    </div>$else$$if(exprIsUni)$
    <div>{{resource['$name$']}}</div>$else$
    <div ng-repeat="row in resource['$name$'] track by \$index">{{row}}</div>$endif$$endif$
</div>$else$<span><i>not readable</i></span>$endif$