$if(verbose)$<!-- Box-ROWS.html "$label$" $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$, $if(!isRoot)$non-$endif$root box) -->
$endif$$if(crudR)$<div class="box box-rows" ng-controller="BoxController" ng-init="parent = resource">$if(crudC)$
    <div class="row" ng-if="$if(exprIsUni)$!resource['$name$']$else$!resource['$name$'].length$endif$">
        <div class="col-xs-12">
            <button type="button" class="btn btn-sm btn-success" ng-click="createResource(parent, '$name$', patchResource)">New $target$</button>
        </div>
    </div>$endif$
    <ul class="list-group">
        <li class="list-group-item"$if(exprIsUni)$ ng-repeat="resource in (resource['$name$'] === null ? [] : [resource['$name$']])"$else$ ng-repeat="resource in resource['$name$']"$endif$
            cg-busy="resource._loading_" ng-class="{'list-group-item-warning' : resource._status_.warning, 'list-group-item-danger' : resource._status_.danger, 'list-group-item-success' : resource._status_.success}"
            $if(isRoot)$ ng-init="patchResource = resource"$endif$>
            <div class="box-li-opt">
                <button type="button" class="btn btn-xs btn-warning" ng-if="resource._showButtons_.save" ng-click="save(resource)">Save</button>
                <button type="button" class="btn btn-xs btn-danger" ng-if="resource._showButtons_.cancel" ng-click="cancel(resource)">Cancel</button>$if(crudC)$$if(!exprIsUni)$
                <button type="button" class="btn btn-xs" ng-click="createResource(parent, '$name$', parent, \$index)" uib-tooltip="Create new $target$" tooltip-trigger="mouseenter" tooltip-placement="left">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>$endif$$endif$$if(crudU)$
                <button type="button" class="btn btn-xs" ng-hide="resource._showButtons_.cancel" ng-click="remove(parent, '$name$', resource, $if(isRoot)$parent$else$patchResource$endif$)" uib-tooltip="Remove" tooltip-trigger="mouseenter" tooltip-placement="left">
                        <span class="glyphicon glyphicon-minus"></span>
                </button>$endif$$if(crudD)$
                <button type="button" class="btn btn-xs btn-danger" ng-hide="resource._showButtons_.cancel" ng-click="delete(parent, '$name$', resource)" uib-tooltip="Delete" tooltip-trigger="mouseenter" tooltip-placement="left">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>$endif$
            </div>$subObjects:{subObj|$if(verbose)$
            <!-- $subObj.subObjLabel$ -->$endif$
            <div class="row">
                <div class="row-label col-md-2 wordwrap"><strong>$subObj.subObjLabel$</strong></div>
                <div class="row-content col-md-10">
                    $subObj.subObjContents$
                </div>
            </div>}$
        </li>$if(crudU)$$if(verbose)$
        <!-- Input to add new link to another resource -->$endif$
        <li class="list-group-item"$if(exprIsUni)$ ng-if="!resource['$name$']"$endif$ ng-controller="AtomicTypeAheadController">
            <div ng-init="getTypeahead('$target$')">
                <input ng-model="selected.value" type="text" class="input-sm" placeholder="Add existing $target$" uib-typeahead="item._label_ for item in typeahead['$target$'] | filter:\$viewValue | limitTo:15" typeahead-editable="true" typeahead-on-select="typeaheadOnSelect(\$item, \$model, \$label, resource, '$name$', patchResource)" typeahead-no-results="hasNoResults">
                <div ng-show="hasNoResults && selected.value" style="color:orangered; font-size:12px;">$target$ not found!</div>
            </div>
        </li>$endif$
    </ul>
</div>$else$<span><i>not readable</i></span>$endif$