$if(verbose)$<!-- Box-PropertyButton.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$ ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
$endif$

$if(crudR)$
  <div ng-repeat="resource in resource['$name$']">
			<button class="btn btn-sm btn-primary" 
            ng-hide="resource.hide.length"
           ng-click="resource.property = !resource.property; saveItem(resource, 'property', patchResource);" 
        ng-disabled="resource.disabled.length">$label$
      </button>
	</div>
$else$<span><i>N/A</i></span>$endif$