 <!-- This is the content for an editable relation to another Concept -->
<!-- 
e.g.

pl :: Project * Person

"Projects" 		: exp1
	ROWS [ "Name" 				: exp2
		 , "Description"		: exp3
		 , "Projectleader"		: pl
		 ]

-->
<div ng-repeat="row in val['Projectleader']">
	<span my-showonhovertr class="glyphicon glyphicon-remove" ng-click="removeObject(val['Projectleader'], row['id'], ResourceId)"></span>
	
	<!-- If INTERFACE exists for ROLE that takes TgtConcept of relation als SrcConcept -->
	<a ng-href="#/<INTERFACE>/{{row['id']}}">{{row['label']}}</a>
	
	<!-- If no INTERFACE is available -->
	{{val['label']}}
</div>
<div my-showonhovertr>
	<input ng-model="selected.Projectleader" type="text" class="form-control input-sm" placeholder="Add new" typeahead="Projectleader.id as Projectleader.label for Projectleader in typeahead.Projectleader | filter:$viewValue | limitTo:8" typeahead-editable="false" ng-blur="addObject(val, 'Projectleader', selected.Projectleader, ResourceId)">
</div>