cabal.sandbox.config
.cabal-sandbox
.dist-buildwrapper
dist
.idea

StaticFiles_Generated.hs
BuildInfo_Generated.hs

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.hi
miscellaneous/AmpersandBackup.jgcscs
miscellaneous/AmpersandBackup.jgfns
