cabal.sandbox.config
.cabal-sandbox
.dist-buildwrapper
/dist
/dist-newstyle
.idea
.ampersand
Ampersand.archimate.bak

# key pairs for automated access to GitHub
*GitHub*

# Disable testresults 
/testing/Travis/testcases/**/*.proto

# Temporarily disable ampersand.cabal (See issue #931)
# NO LONGER include ampersand.cabal in .gitignore. See https://github.com/commercialhaskell/stack/issues/5210


# stack.yaml.lock # enable versioning of stack.yaml.lock: See https://stackoverflow.com/questions/64682066/should-stack-yaml-lock-be-checked-into-source-control/64684211#64684211

StaticFiles_Generated.hs
BuildInfo_Generated.hs

# Visual studio code stuff
###################
/.vscode
*.code-workspace

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.hi
*.hie
miscellaneous/AmpersandBackup.jgcscs
miscellaneous/AmpersandBackup.jgfns
*.log
/.hpc
/hpc
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.php.core.prefs
/.stack-work
/.ghci
/ghcid.txt

# Editor related (SJC: which editor?) #
##################
*.epp
~$*

# Mac OS related
.DS_Store

# Local history extention of vs-code
.history