cabal.sandbox.config
.cabal-sandbox
.dist-buildwrapper
/dist
.idea

StaticFiles_Generated.hs
BuildInfo_Generated.hs

# Visual studio code stuff
###################
/.vscode

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.hi
miscellaneous/AmpersandBackup.jgcscs
miscellaneous/AmpersandBackup.jgfns
*.log
/.hpc
/hpc
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.php.core.prefs
/.stack-work
static/zwolle/lib/
# static/zwolle/app/bower_components/
static/zwolle/app/node_modules/
