# This file is based on the travis.yml file of stack. 
# (https://github.com/commercialhaskell/stack/blob/master/.travis.yml)
#
language: c
sudo: false

cache:
    directories:
        - $HOME/.ghc
        - $HOME/.cabal
        - $HOME/.stack

matrix:
  include:
    - env: BUILD=cabal CABALVER=1.22 GHCVER=7.10.1
      compiler: ": #GHC 7.10.1"
      addons: {apt: {packages: [cabal-install-1.22,ghc-7.10.1], sources: [hvr-ghc]}}

    - env: BUILD=cabal CABALVER=1.22 GHCVER=7.10.2
      compiler: ": #GHC 7.10.2"
      addons: {apt: {packages: [cabal-install-1.22,ghc-7.10.2], sources: [hvr-ghc]}}

    - env: BUILD=cabal CABALVER=1.22 GHCVER=7.10.3
      compiler: ": #GHC 7.10.3"
      addons: {apt: {packages: [cabal-install-1.22,ghc-7.10.3], sources: [hvr-ghc]}}

    - env: BUILD=stack GHCVER=7.10.2 STACK_YAML=stack.yaml
      compiler: ": #stack 7.10.2"
      addons: {apt: {packages: [cabal-install-head,ghc-7.10.2], sources: [hvr-ghc]}}

    - env: BUILD=cabal CABALVER=head GHCVER=head
      compiler: ": #GHC head"
      addons: {apt: {packages: [cabal-install-head,ghc-head], sources: [hvr-ghc]}}

    - env: BUILD=stack STACK_YAML=stack.yaml
      compiler: ": #stack 7.10.2 osx"
      os: osx

  allow_failures:
    - env: BUILD=cabal CABALVER=1.22 GHCVER=7.10.1
    - env: BUILD=cabal CABALVER=1.22 GHCVER=7.10.2
    - env: BUILD=cabal CABALVER=1.22 GHCVER=7.10.3
#    - env: BUILD=stack GHCVER=7.10.2 STACK_YAML=stack.yaml
    - env: BUILD=cabal CABALVER=head GHCVER=head
    - env: BUILD=stack STACK_YAML=stack.yaml

# Note: the distinction between `before_install` and `install` is not important.
# - in before_install we install build tools
# - in install we install (haskell) dependencies
before_install:
 - unset CC
 - case "$BUILD" in
     stack)
       export PATH=$HOME/.local/bin:/opt/ghc/$GHCVER/bin:$PATH;;
     cabal)
       export PATH=$HOME/.cabal/bin:/opt/ghc/$GHCVER/bin:/opt/cabal/$CABALVER/bin:$PATH;;
   esac
 - chmod +x ./.travis-setup.sh  # There should be some possibility to do this permenently in Github, but I do not know how to do so.
 - ./.travis-setup.sh

install:
 - echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]"
 - case "$BUILD" in
     stack)
       stack --no-terminal test --only-dependencies;;
     cabal)
       cabal --version;
       echo "$(ghc --version) [$(ghc --print-project-git-commit-id 2> /dev/null || echo '?')]";
       ghc --info;
       travis_retry cabal update;
       rm -f $(stack path --dist-dir)/stack-*.tar.gz;
       stack sdist --pvp-bounds=both;
       tar xf $(stack path --dist-dir)/stack-*.tar.gz --wildcards --strip-components=1 '*/stack.cabal';
       cabal install --only-dependencies --enable-tests --enable-benchmarks --force-reinstalls --ghc-options=-O0;;
   esac

script:
 - case "$BUILD" in 
     stack)
       stack --no-terminal test;;
     cabal)
       cabal configure --enable-tests --enable-benchmarks -v2 --ghc-options="-O0";
       cabal build;
       cabal test;
       cabal check;
       cabal sdist;
       cabal copy;
       SRC_TGZ=$(cabal info . | awk '{print $2;exit}').tar.gz && (cd dist && cabal install --force-reinstalls "$SRC_TGZ");;
   esac
