<div class="container-fluid">
	<fieldset>
		<!-- I[Person] -->
		<legend>{{Person.label}}</legend>
		
		<form class="form-horizontal" role="form">		
			<!-- Name disabled, not editable-->
			<div class="form-group">
	   			<label class="col-md-1 control-label">Name</label>
	   			<div class="col-md-11">
	   				<input disabled ng-model="Person.label" type="text" class="form-control input-sm" ng-blur="patch()">
	   			</div>
	 		</div>
	 		
	 		<!-- Status -->
			<div class="form-group">
	   			<label class="col-md-1 control-label">Status</label>
	   			<div class="col-md-11">
					<input ng-model="Person.Status" type="text" class="form-control input-sm" ng-blur="patch()">
				</div>
	 		</div>
	 		
	 		<!-- Email -->
			<div class="form-group">
	   			<label class="col-md-1 control-label">Email</label>
	   			<div class="col-md-11">
					<input ng-model="Person.Email" type="text" class="form-control input-sm" ng-blur="patch()">
				</div>
	 		</div>
	 	</form>
 	</fieldset>
</div>