<div class="container-fluid">	
	<fieldset>
		<!-- I[SESSION] -->
		<legend>{{SESSION.label}}</legend>
		
		<!-- TABS -->
		<tabset>
			<tab heading="Started projects">
				<table class="table table-striped table-hover table-condensed" style="width:auto;">
					<thead>
						<tr>
							<th width="100px">Projects</th> 
							<th>Name</th>
							<th>Description</th>
							<th>Projectleider</th>
							<th>Start</th>
							<th>Started</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, val) in SESSION['Started projects']">
							<td>
								<div>
									<a ng-href="#/Project/{{val.id}}">{{val.label}}</a>
								</div>
							</td>
							
							<!-- Text -->
							<td>
								<div class="input-group">
									<input ng-model="val.Name" type="text" class="form-control input-sm" ng-blur="patch()">
								</div>
							</td>
							
							<!-- Textarea -->
							<td>
								<div class="input-group">
									<textarea ng-model="val.Description" class="form-control input-sm" placeholder="Textarea" rows="1" ng-blur="patch()"></textarea>
								</div>
							</td>
							 
							<!-- Relation to other concept -->
							<td>
								<div ng-repeat="row in val.Projectleider">
									<div class="col-md-2"><span my-showonhovertr class="glyphicon glyphicon-remove" ng-click="removeObject(val.Projectleider, row.id)"></span></div>
									<div class="col-md-10"><a ng-href="#/Person/{{row.id}}">{{row.label}}</a></div>
								</div>
								<div my-showonhovertr>
									<div class="col-md-2"><span class="glyphicon glyphicon-plus" ng-click="addProjectleider(val, 'Projectleider')"></span></div>
									<div class="col-md-10"><small>Add new Projectleider</small></div>
								</div>
							</td>
							 
							<!-- Date -->
							<td>
								<div class="input-group">
									<input ng-model="val.Start" type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" is-open="datepicker[key+'-Start'].open" ng-blur="patch()"/>
			             				<span class="input-group-btn">
			               				<button type="button" class="btn btn-default input-sm" ng-click="openDatepicker($event, key+'-Start')"><i class="glyphicon glyphicon-calendar"></i></button>
			             				</span>	
								</div>
							</td>
							
							<!-- Checkbox -->
							<td>
								<div class="checkbox">
									<label>
										<input ng-model="val.Started" type="checkbox" ng-change="patch()"/>
									</label>
								</div>
							</td>
							 
							<td><span my-showonhovertr class="glyphicon glyphicon-remove" ng-click="removeObject(SESSION['Started projects'], key)"></span></td>
						</tr>
			        </tbody>
				</table>
			</tab>
			<tab heading="Unstarted projects">
				<table class="table table-striped table-hover table-condensed" style="width:auto;">
					<thead>
						<tr>
							<th width="100px">Projects</th> 
							<th>Name</th>
							<th>Description</th>
							<th>Projectleider</th>
							<th>Start</th>
							<th>Started</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(key, val) in SESSION['Unstarted projects']">
							<td>
								<div>
									<a ng-href="#/Project/{{val.id}}">{{val.label}}</a>
								</div>
							</td>
							
							<!-- Text -->
							<td>
								<div class="input-group">
									<input ng-model="val.Name" type="text" class="form-control input-sm" ng-blur="patch()">
								</div>
							</td>
							
							<!-- Textarea -->
							<td>
								<div class="input-group">
									<textarea ng-model="val.Description" class="form-control input-sm" placeholder="Textarea" rows="1" ng-blur="patch()"></textarea>
								</div>
							</td>
							 
							<!-- Relation to other concept -->
							<td>
								<div ng-repeat="row in val.Projectleider">
									<div class="col-md-2"><span my-showonhovertr class="glyphicon glyphicon-remove" ng-click="removeObject(val.Projectleider, row.id)"></span></div>
									<div class="col-md-10"><a ng-href="#/Person/{{row.id}}">{{row.label}}</a></div>
								</div>
								<div my-showonhovertr>
									<div class="col-md-2"><span class="glyphicon glyphicon-plus" ng-click="addProjectleider(val, 'Projectleider')"></span></div>
									<div class="col-md-10"><small>Add new Projectleider</small></div>
								</div>
							</td>
							 
							<!-- Date -->
							<td>
								<div class="input-group">
									<input ng-model="val.Start" type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" is-open="datepicker[key+'-Start'].open" ng-blur="patch()"/>
			             				<span class="input-group-btn">
			               				<button type="button" class="btn btn-default input-sm" ng-click="openDatepicker($event, key+'-Start')"><i class="glyphicon glyphicon-calendar"></i></button>
			             				</span>	
								</div>
							</td>
							
							<!-- Checkbox -->
							<td>
								<div class="checkbox">
									<label>
										<input ng-model="val.Started" type="checkbox" ng-change="patch()"/>
									</label>
								</div>
							</td>
							 
							<td><span my-showonhovertr class="glyphicon glyphicon-remove" ng-click="removeObject(SESSION['Unstarted projects'], key)"></span></td>
						</tr>
			        </tbody>
				</table>
			</tab>
		</tabset>
	</fieldset>
</div>