<div id="notificationCenter" ng-controller="static_notificationCenterController">
	<div id="errors">
		<div class="alert alert-danger alert-dismissable" ng-repeat="error in notifications.errors">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Error!</strong> {{error.message}}
		</div>
	</div>
	
	<div id="invariants">
		<div class="alert alert-danger alert-dismissable" ng-repeat="invariant in notifications.invariants">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Invariant!</strong> {{invariant.message}} 
		</div>
	</div>
			
	<div id="violations">
		<div class="panel panel-warning" ng-repeat="(key, val) in notifications.violations">
			<div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#violation-{{key}}">
				<div class="text-left"><strong>Violation!</strong> {{val.violationMessage}}</div>
			</div>
			<ul class="list-group collapse" id="violation-{{key}}">
				<li class="list-group-item" ng-repeat="tuple in val.tuples">{{tuple}}</li>
			</ul>
		</div>
	</div>
	
	<div id="infos">
		<div class="alert alert-info alert-dismissable" ng-repeat="info in notifications.infos">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Info!</strong> {{info.message}}
		</div>
	
	</div>
	
	<div id=successes>
		<div class="alert alert-success alert-dismissable" ng-repeat="success in notifications.successes">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Success!</strong> {{success.message}}
		</div>
	</div>
</div>