<div class="interface" editable="{{editable}}"><h4>{{interface}}</h4>
	<form role="form">
		{{#atoms}}
		<div class="form-group">
			<input type="text" class="form-control" id="exampleInputEmail1" placeholder="{{atom}}">
			{{>default_atom}}
		</div>
		{{/atoms}}
	</form>
</div>