#notificationCenter {
    position: relative;
    margin-bottom: 10px;
}

#successes {
    position: absolute;
    width: 100%;
    z-index: 999;
}

#notificationCenter .alert {
    margin-bottom: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#notificationCenter .panel {
    margin-bottom: 2px;
}

#notificationCenter .panel-heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

#notificationCenter .panel .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

#notificationCenter p {
    margin: 0px;
}