<div class="container-fluid">
    <div id="notificationCenter" ng-controller="NotificationCenterController">
        
        <div id="infos" ng-show="localStorage.notify-showInfos">
            <div class="alert alert-info alert-dismissible" role="alert" ng-repeat="info in notifications.infos">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert(notifications.infos, $index);"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign"></span><span> {{info.message}}</span>
            </div>
        </div>
        
        <div id="warnings" ng-show="localStorage.notify-showWarnings">
            <div class="alert alert-warning alert-dismissible" role="alert" ng-repeat="warning in notifications.warnings">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert(notifications.warnings, $index);"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-warning-sign"></span><span> {{warning.message}}</span>
                <span class="badge pull-right" ng-show="warning.count > 1">{{warning.count}}</span>
            </div>
        </div>
        
        <div id="errors" ng-show="localStorage.notify-showErrors">
            <div class="panel panel-danger" id="error-panel-{{key}}" ng-repeat="(key, error) in notifications.errors">
                <div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#error-body-{{key}}">
                    <div class="text-left">
                        <span class="glyphicon glyphicon-exclamation-sign"></span> <span ng-bind-html="error.message | unsafe"></span>
                        <button type="button" class="close" data-target="#error-panel-{{key}}" data-dismiss="alert" aria-label="Dismiss" ng-click="closeAlert(notifications.errors, $index);">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span class="badge pull-right" ng-show="error.count > 1">{{error.count}}</span>
                    </div>
                </div>
                <div class="panel-body collapse" id="error-body-{{key}}">
                    <div ng-if="error.details" ng-bind-html="error.details | unsafe"></div>
                </div>
            </div>
        </div>
        
        <div id="invariants" ng-show="localStorage.notify-showInvariants">
            <div class="panel panel-danger" ng-repeat="(key, val) in notifications.invariants">
                <div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#invariant-{{key}}">
                    <div class="text-left" style="display:flex; align-items:center;">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <div marked="val.ruleMessage" style="display:inline-block; margin: 0px 10px;"></div> <!-- uses angular-marked directive -->
                        <span class="badge" style="margin-left:auto;">{{val.tuples.length}}</span>
                    </div>
                </div>
                <ul class="list-group collapse" id="invariant-{{key}}">
                    <li class="list-group-item" ng-repeat="tuple in val.tuples track by $index">
                        <span>{{tuple.violationMessage}}</span>
                    </li>
                </ul>
            </div>
        </div>
                    
        <div id="signals" ng-show="localStorage.notify-showSignals">
            <div class="panel panel-warning" ng-repeat="(key, val) in notifications.signals">
                <div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#violation-{{key}}">
                    <div class="text-left" style="display:flex; align-items:center;">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <div marked="val.message" style="display:inline-block; margin: 0px 10px;"></div> <!-- uses angular-marked directive -->
                        <span class="badge" style="margin-left:auto;">{{val.violations.length}}</span>
                    </div>
                </div>
                <ul class="list-group collapse" id="violation-{{key}}">
                    <li class="dropdown list-group-item" ng-repeat="violation in val.violations track by $index">
                        <div ng-if="violation.ifcs.length > 1">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{violation.message}}</a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="ifc in violation.ifcs">
                                    <a ng-href="{{ifc.link}}" data-toggle="collapse" data-target="#violation-{{key}}"><small>View</small> {{ifc.label}}</a>
                                </li>
                            </ul>
                        </div>
                        <a ng-if="violation.ifcs.length == 1" ng-href="{{violation.ifcs[0].link}}" data-toggle="collapse" data-target="#violation-{{key}}">{{violation.message}}</a>
                        <span ng-if="violation.ifcs.length == 0">{{violation.message}}</span>
                    </li>
                </ul>
            </div>
        </div>
        
        <!-- Success notifications must be last in notifications center because of position:absolute -->
        <div id="successes" ng-show="localStorage.notify-showSuccesses">
            <div class="alert alert-success alert-dismissible" role="alert" ng-repeat="success in notifications.successes">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert(notifications.successes, $index);"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-ok-sign"></span><span> {{success.message}}</span>
            </div>
        </div>
    </div>
</div>