@import url("Oblomilan.css");

#Header { 
    width: 100%;
    height: 70px;
    background: white;
    padding:0px;
    margin:0px;
}
#Logo {
    float: left;
    height: 70px;
    background: url("../images/apptitle.png") no-repeat;
}
#Decoration {
    float: right;
    height: 70px;
    background: url("../images/OUampersandTNO.png") no-repeat;
}
