<div id="NotificationCenter" ng-controller="NotificationCenterController">
	<div id="errors">
		<div class="alert alert-danger alert-dismissable" ng-repeat="error in notifications.errors">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Error!</strong> {{error.message}}
		</div>
	</div>
	
	<div id="invariants">
		<div class="alert alert-danger alert-dismissable" ng-repeat="invariant in notifications.invariants">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Invariant!</strong> {{invariant.message}} 
		</div>
	</div>
			
	<div id="violations">
		<div class="panel panel-warning" ng-repeat="violation in notifications.violantions">
			<div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#violation{{violation.id}}">' 
				<div class="text-left"><strong>Violation!</strong> {{violation.message}}</div>'
			</div>
		
			<ul class="list-group collapse" id="violation{{violation.id}}">
				<li class="list-group-item" ng-repeat="row in violation.rows">{{row.message}}</li>
			</ul>
		</div>
	</div>
	
	<div id="infos">
		<div class="alert alert-info alert-dismissable" ng-repeat="info in notifications.infos">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Info!</strong> {{info.message}}
		</div>
	
	</div>
	
	<div id=successes>
		<div class="alert alert-success alert-dismissable" ng-repeat="success in notifications.successes">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Success!</strong> {{success.message}}
		</div>
	</div>
</div>