<!-- Use the following in an interface to populate a relation using a popup window

// HTML code to call popup window
<div my-showonhover-box class="pointer" ng-click="popUp(val, 'Projectleider', ResourceId)">
	<span class="glyphicon glyphicon-plus"></span>
	<small>Add new Projectleider</small>
</div>

// Function for controller
$scope.popUp = function(obj, property, ResourceId){
	var modalInstance = $modal.open({
		templateUrl		: 'generics/app/views/addPerson.html',
		controller		: 'static_addModalController',
		size			: 'lg', 			// optional 'sm' (small), 'lg' (large)
		backdrop		: true,				// true, false or 'static'
		resolve			: { restUrl: function () { return 'interface/Person'; } }	// an optional map of dependencies which should be injected into the controller			
	});
	
	modalInstance.result // a promise that is resolved when a modal is closed and rejected when a modal is dismissed
		.then( // then() called when promise is resolved or rejected
			function (selectedId) { // function when modal is closed
				console.log('selected: ' + selectedId);
				selected = {id : selectedId};
				$scope.addObject(obj, property, selected, ResourceId);
			}, function () { // function when modal is dismissed
				console.log('Modal dismissed at: ' + new Date());
			}
		);
}
 -->

<!-- Template partial for popup window -->
<div class="modal-header">
	<form class="pull-right form-inline">
		<div class="form-group">
			<label class="control-label">Search</label>
			<input ng-model="search" class="form-control input-sm"/>
		</div>
		<div class="form-group">
			<button class="btn btn-sm btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</form>
	<h3 class="modal-title">Select a person</h3>	
</div>

<div class="modal-body interface">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th width="100px">Name</th> 
				<th>Status</th>
				<th>Email</th>
				<th>Works with</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(ResourceId, Resource) in ResourceList | filter:search" class="pointer" ng-click="select(Resource.id)">
				<td>{{Resource['@label']}}</td>
				<td>{{Resource['Status']}}</td>
				<td>{{Resource['Email']}}</td>
				<td>
					<ul>
						<li ng-repeat="(key, val) in Resource['Works with']"><span>{{val['@label']}}</span></li>
					</ul>
				</td>
			</tr>
        </tbody>
	</table>
</div>

<div class="modal-footer"></div>