$if(verbose)$<!-- Atomic-PASSWORD.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
$endif$<div class="input-group">
	$if(crudU)$$if(exprIsUni)$<input ng-model="resource['$name$']" my-bluronenter type="password" placeholder="Password" class="form-control input-sm" ng-blur="saveItem(resource, '$name$', patchResource)">$else$<div ng-repeat="row in resource['$name$'] track by \$index" ng-init="showPassword = false;">
		<span my-showonhover-box class="glyphicon glyphicon-minus" ng-click="removeItem(resource, '$name$', \$index, patchResource)" uib-tooltip="Remove" tooltip-trigger="mouseenter" tooltip-placement="left"></span>
		<span ng-show="showPassword">{{row}}</span><span ng-show="!showPassword">********</span><span> <a href="" ng-click="showPassword = !showPassword">show/hide</a></span>
	</div>
	<div ng-controller="addItemController">
		<input ng-model="selected.value" my-bluronenter type="password" placeholder="Add password" class="form-control input-sm" ng-blur="addItem(resource, '$name$', selected, patchResource)">
	</div>$endif$$else$$if(exprIsUni)$<div ng-init="showPassword = false;">
		<span ng-show="showPassword">{{resource['$name$']}}</span><span ng-show="!showPassword">********</span><span> <a href="" ng-click="showPassword = !showPassword">show/hide</a></span>
	</div>$else$<div ng-repeat="row in resource['$name$'] track by \$index" ng-init="showPassword = false;">
		<span ng-show="showPassword">{{row}}</span><span ng-show="!showPassword">********</span><span> <a href="" ng-click="showPassword = !showPassword">show/hide</a></span>
	</div>$endif$$endif$
</div>