$if(verbose)$<!-- Atomic-PASSWORD.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(!isEditable)$not $endif$editable) -->
$endif$<div class="input-group">
	$if(isEditable)$$if(exprIsUni)$<input ng-model="val['$name$']" my-bluronenter type="password" class="form-control input-sm" ng-blur="put(ResourceId)">$else$<div ng-repeat="row in val['$name$'] track by \$index">
		<span my-showonhover-box class="glyphicon glyphicon-remove" ng-click="removeItem(val['$name$'], \$index, ResourceId)"></span>
		<span>********</span>
	</div>
	<div my-showonhover-box ng-controller="addItemController">
		<input ng-model="selected.value" my-bluronenter type="password" placeholder="New password" class="form-control input-sm" ng-blur="addItem(val, '$name$', selected, ResourceId)">
	</div>$endif$$else$$if(exprIsUni)$<div>********</div>$else$<div ng-repeat="row in val['$name$'] track by \$index">********</div>$endif$$endif$
</div>