$if(verbose)$<!-- Box-TABS.html "$label$" $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$, $if(!isRoot)$non-$endif$root box) -->
$endif$$if(crudR)$<div class="box" ng-controller="BoxController" ng-init="parent = resource">
    <div $if(exprIsUni)$my-alias="resource['$name$'] as resource"$else$ng-repeat="resource in resource['$name$']"$endif$>$if(isRoot)$
        <div class="panel panel-default" ng-class="{'panel-default' : resource._status_.default, 'panel-warning' : resource._status_.warning, 'panel-danger' : resource._status_.danger, 'panel-success' : resource._status_.success}">
            <div class="panel-heading" ng-init="patchResource = resource">
                <div class="pull-right panel-heading-options">
                    <my-nav-to-other-interfaces resource="resource"></my-nav-to-other-interfaces>
                    <button type="button" class="btn btn-sm btn-warning" ng-if="resource._showButtons_.save" ng-click="save(resource)">Save</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-if="resource._showButtons_.cancel" ng-click="cancel(resource)">Cancel</button>$if(crudD)$
                    <button type="button" class="btn btn-sm btn-danger" ng-hide="resource._showButtons_.cancel" ng-click="delete(parent, '$name$', resource)"><span class="glyphicon glyphicon-trash"></span></button>$endif$
                </div>
                <h4>{{resource._label_}}&nbsp;</h4>
            </div>
            <div class="panel-body" cg-busy="resource._loading_">$endif$
                <uib-tabset>$subObjects:{subObj|$if(verbose)$
                    <!-- TAB: $subObj.subObjLabel$ -->$endif$
                    <uib-tab heading="$subObj.subObjLabel$">
                        $subObj.subObjContents$
                    </uib-tab>}$
                </uib-tabset>$if(isRoot)$
            </div>
        </div>$endif$
    </div>
</div>$else$<span><i>not readable</i></span>$endif$