$if(verbose)$<!-- Box-COLS.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(!isEditable)$not $endif$editable, $if(!isRoot)$non-$endif$root box) -->
$endif$<table class="table table-striped table-hover table-condensed">
	<tbody$if(isEditable)$ ng-init="parent = val['$name$']"$endif$>
		<tr class="box" ng-repeat="(key, val) in val['$name$'] track by val.id" $if(isRoot)$ng-init="ResourceId = val.id" ng-class="{warning : resourceStatus[ResourceId]['warning'], danger : resourceStatus[ResourceId]['danger'], success : resourceStatus[ResourceId]['success']}"$endif$>$if(isEditable)$
			<td><span my-showonhover-box class="glyphicon glyphicon-minus" ng-click="removeObject(parent, key, ResourceId)"></span></td>$endif$$subObjects:{subObj|
			$if(verbose)$<!-- $subObj.subObjLabel$ -->
			$endif$<td class="row-content">
				$subObj.subObjContents$
			</td>}$$if(isRoot)$
			<td>
				<button type="button" class="btn btn-warning btn-xs" ng-if="showSaveButton[ResourceId]" ng-click="put(ResourceId, 'promise')">Save</button>
				<button type="button" class="btn btn-danger btn-xs" ng-if="showCancelButton[ResourceId]" ng-click="cancel(ResourceId)">Cancel</button>$if(crudD)$
				<a my-showonhover-box href="" ng-click="deleteResource(ResourceId)"><span class="glyphicon glyphicon-trash"/></a>$endif$
				<div style="float:right;" cg-busy="{promise:loadingResources[ResourceId],templateUrl:'app/views/partials/loading.html',backdrop:false,wrapperClass:''}"></div>
			</td>$endif$
		</tr>
	</tbody>$if(isRoot)$$if(crudC)$
	<tfoot>
		<tr>$if(isEditable)$
			<td></td>$endif$$subObjects:{subObj|
			<td></td>}$$if(isRoot)$
			<td>$if(crudC)$
				<a ng-hide="loadingResources['_new_'].length" href="" ng-click="addNewResource(false)"><span class="glyphicon glyphicon-plus"/></a>
				<span cg-busy="{promise:loadingResources['_new_'],templateUrl:'app/views/partials/loading.html',backdrop:false,wrapperClass:''}"/>$endif$
			</td>$endif$
		</tr>
	</tfoot>$endif$$endif$
</table>