$if(verbose)$<!-- Box-ROWS.html "$label$" $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$  ($if(!isEditable)$not $endif$editable, $if(!isRoot)$non-$endif$root box) -->
$endif$<div class="box$if(isRoot)$ panel panel-default$endif$" ng-repeat="(key, val) in val['$name$'] track by val.id" $if(isRoot)$ng-init="ResourceId = val.id" ng-class="{'panel-default' : resourceStatus[ResourceId]['default'], 'panel-warning' : resourceStatus[ResourceId]['warning'], 'panel-danger' : resourceStatus[ResourceId]['danger'], 'panel-success' : resourceStatus[ResourceId]['success']}"$endif$>$if(isRoot)$
	<div class="panel-heading">
		<div class="pull-right panel-heading-options">
			<button type="button" class="btn btn-sm btn-warning" ng-if="showSaveButton[ResourceId]" ng-click="put(ResourceId, 'promise')">Save</button>
			<button type="button" class="btn btn-sm btn-danger" ng-if="showCancelButton[ResourceId]" ng-click="cancel(ResourceId)">Cancel</button>
			<my-nav-to-other-interfaces ifcs="val['@interfaces']" resource="val.id" label="val['@label']"></my-nav-to-other-interfaces>
			$if(crudD)$<button type="button" class="btn btn-sm" ng-click="deleteResource(ResourceId)">
				<span class="glyphicon glyphicon-trash"></span>
			</button>$endif$
			$if(crudC)$<button type="button" class="btn btn-sm" ng-click="newResource()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>$endif$
		</div>
		<h4>{{val['@label']}}&nbsp;</h4>
	</div>
	<div class="panel-body" cg-busy="loadingResources[ResourceId]">$endif$
	$subObjects:{subObj|$if(verbose)$<!-- $subObj.subObjLabel$ -->$endif$
		<div class="row">
			<div class="row-label col-md-2 wordwrap"><strong>$subObj.subObjLabel$</strong></div>
			<div class="row-content col-md-10">
				$subObj.subObjContents$
			</div>
		</div>}$
	$if(isRoot)$</div>
$endif$</div>