$if(verbose)$<!-- View-UPLOAD.html "$label$" : $expAdl$ :: $source$ * $target$ $if(exprIsUni)$[UNI]$endif$$if(exprIsTot)$[TOT]$endif$ ($if(crudC)$C$else$c$endif$$if(crudR)$R$else$r$endif$$if(crudU)$U$else$u$endif$$if(crudD)$D$else$d$endif$) -->
<!-- Requires & statement: 
  CONCEPT Upload ""
    IDENT UploadFileName 	: Upload (fileName)
    VIEW UploadFile 		: Upload DEFAULT {fileName : fileName, label : originalFileName} HTML TEMPLATE "View-UPLOAD.html" ENDVIEW
    fileName          		:: Upload -> FileName
    originalFileName  		:: Upload -> FileName
      REPRESENT FileName TYPE ALPHANUMERIC
-->
$endif$<div class="input-group">
	$if(crudU)$<div ng-repeat="(key, row) in resource['$name$'] track by \$index">
		<span my-showonhover-box class="glyphicon glyphicon-minus" ng-click="removeObject(resource, '$name$', key, ResourceId)" uib-tooltip="Remove" tooltip-trigger="mouseenter" tooltip-placement="left"></span>
		<a href="uploads/{{row['_view_']['fileName']}}" target="_blank">{{row['_view_']['label']}}</a>
	</div>
	<div my-showonhover-box ng-controller="uploadFileController">
		<input class="form-control input-sm" type="file" nv-file-select uploader="FileUploader" options="{'key' : '$name$', 'resourceId' : ResourceId}"/>
	</div>$else$<div class="wordwrap" ng-repeat="row in resource['$name$'] track by \$index">
		<a href="uploads/{{row['_view_']['fileName']}}" target="_blank">{{row['_view_']['label']}}</a>
	</div>$endif$
</div>