<div class="container-fluid" id="Interface">
    <div class="jumbotron">
        <h1>Installer</h1>
        <p>This action will reinstall the application and delete all content.</p>
        <p>If provided, the initial population will be installed.</p>
        <div class="btn-group">
            <button type="button" ng-click="install(true)" class="btn btn-lg" ng-class="{'btn-danger' : (!installing && !installed), 'btn-warning' : installing, 'btn-success' : installed}" ng-disabled="installing">
                <span ng-if="!installed && ! installing">Reinstall application  </span>
                <span ng-if="installing">Application installing  </span>
                <span ng-if="installed">Application reinstalled  </span>
                <img ng-if="installing" ng-src="app/images/loading.gif" style="height:20px;"/>
            </button>
            <button type="button" class="btn btn-lg dropdown-toggle" ng-class="{'btn-danger' : (!installing && !installed), 'btn-warning' : installing, 'btn-success' : installed}" ng-disabled="installing" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="" ng-click="install(true)">Reinstall application</a></li>
                <li><a href="" ng-click="install(false)">Reinstall application (without default population)</a></li>
            </ul>
        </div>
    </div>
</div>