<nav class="navbar navbar-default" role="navigation" ng-controller="static_navigationBarController">	
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-options">Options</button>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-interfaces">Interfaces</button>
			<a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-home"></span></a>
		</div>
		<ul class="collapse navbar-collapse nav navbar-nav" id="navbar-interfaces">
			<li id="{{interface.label}}" ng-repeat="interface in navbar.top"> <!-- the interface id is there so we can style specific menu items with css -->
				<a href="#/{{interface.id}}">
					<span class="glyphicon glyphicon-list-alt"></span> {{interface.label}}</a>
			</li>
		</ul>
		
		<ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="navbar-options">	
			<li class="dropdown" tooltip="Show/hide notifications" tooltip-trigger="mouseenter" tooltip-placement="top">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><switch ng-model="$storage.notificationPrefs.switchShowViolations"> Show violation messages</switch></li>
					<li class="divider" role="presentation"></li>
					<li><switch ng-model="$storage.notificationPrefs.switchShowSuccesses"> Show success messages</switch></li>
					<li><switch ng-model="$storage.notificationPrefs.switchAutoHideSuccesses"> Auto hide success messages</switch></li>
					<li class="divider" role="presentation"></li>
					<li><switch ng-model="$storage.notificationPrefs.switchShowErrors"> Show error messages</switch></li>
					<li><switch ng-model="$storage.notificationPrefs.switchShowInvariants"> Show invariant violations</switch></li>
					<li class="divider" role="presentation"></li>
					<li><switch ng-model="$storage.notificationPrefs.switchShowInfos"> Show info messages</switch></li>
					<li><switch ng-model="$storage.logWindowPrefs.switchShowLogWindow"> Show log window</switch></li>
					<li class="divider" role="presentation"></li>
					<li><switch ng-model="$storage.switchAutoCommit"> Auto commit changes</switch></li>
					<li class="divider" role="presentation"></li>
					<li><switch ng-model="switchDefaultSettings"> Default settings</a>
				</ul>
			</li>
			
			<li class="dropdown" tooltip="Refresh/reset options" tooltip-trigger="mouseenter" tooltip-placement="top">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-refresh"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span> Refresh page</a></li>
					<li><a href="#/" ng-click="destroySession()"><span class="glyphicon glyphicon-repeat"></span> Reset session</a></li>
					<li><a href="#/installer"><span class="glyphicon glyphicon-trash"></span> Reinstall database</a></li>
					<li ng-if="navbar.refreshMenu" class="divider" role="presentation"></li>
					<li ng-repeat="app in navbar.refreshMenu" ng-include="app.url"/>
				</ul>
			</li>
			
			<li ng-if="navbar.appMenu" class="dropdown" tooltip="Select application extensions" tooltip-trigger="mouseenter" tooltip-placement="top">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="app in navbar.appMenu" ng-include="app.url"/>
					<!-- <li class="divider" role="presentation"></li>-->					
				</ul>
			</li>
			
			<li ng-if="navbar.new" class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
						<li><a href="#/{{interface.id}}?new" ng-repeat="interface in navbar.new">{{interface.label}}</a></li>
				</ul>
			</li>
			
			<li class="dropdown" tooltip="Switch between different roles" tooltip-trigger="mouseenter" tooltip-placement="top">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="" ng-repeat="role in navbar.roles" ng-click="selectRole(role.id)" style="white-space:normal;">
							{{role.label}}
							<span ng-show="role.id == $storage.roleId" class="glyphicon glyphicon-ok pull-right"></span>
						</a>
					</li>
					<li ng-if="navbar.roleMenu" class="divider" role="presentation"></li>
					<li ng-repeat="ext in navbar.roleMenu" ng-include="ext.url"/>
				</ul>
			</li>
		</ul>
	</div>
</nav>