<div id="ampersand-footer" class="container">
	<div id="ampersand-footer-logos" class="pull-right">
		<a href="http://www.ou.nl"><img src="app/images/logos/logo-ou.png" alt="Open Universiteit" style="height:25px"/></a>
		<a href="http://www.tno.nl"><img src="app/images/logos/logo-tno.png" alt="TNO"/></a>
		<a href="http://www.ordina.nl"><img src="app/images/logos/logo-ordina.png" alt="Ordina"/></a>
	</div>
	<p class="text-muted">This application is developed with <a href="https://github.com/AmpersandTarski/ampersand" target="_blank"><img src="app/images/ampersand.png"/> Ampersand technology</a>.</p>
</div>