<div class="container-fluid">
	<div id="notificationCenter" ng-controller="static_notificationCenterController">
		
		<div id="infos" ng-show="$storage.notificationPrefs.switchShowInfos">
			<div class="alert alert-info alert-dismissible" role="alert" ng-repeat="info in notifications.infos">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span class="glyphicon glyphicon-info-sign"></span><span> {{info.message}}</span>
			</div>
		</div>
		
		<div id="warnings" ng-show="$storage.notificationPrefs.switchShowWarnings">
			<div class="alert alert-warning alert-dismissible" role="alert" ng-repeat="warning in notifications.warnings">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span class="glyphicon glyphicon-warning-sign"></span><span> {{warning.message}}</span>
				<span class="badge pull-right">{{warning.count}}</span>
			</div>
		</div>
		
		<div id="errors" ng-show="$storage.notificationPrefs.switchShowErrors">
			<div class="panel panel-danger" id="error-panel-{{key}}" ng-repeat="(key, error) in notifications.errors">
				<div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#error-body-{{key}}">
					<div class="text-left">
						<span class="glyphicon glyphicon-exclamation-sign"></span> <span ng-bind-html="error.message | unsafe"></span>
						<button type="button" class="close" data-target="#error-panel-{{key}}" data-dismiss="alert" aria-label="Dismiss">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="badge pull-right" ng-show="error.count > 1">{{error.count}}</span>			
					</div>
				</div>
				<div class="panel-body collapse" id="error-body-{{key}}">
					<div ng-if="error.details" ng-bind-html="error.details | unsafe"></div>
					<div ng-if="!error.details">Please contact the application administrator for more information.</div>
				</div>
			</div>
		</div>
		
		<div id="invariants" ng-show="$storage.notificationPrefs.switchShowInvariants">
			<div class="panel panel-danger" ng-repeat="(key, val) in notifications.invariants">
				<div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#invariant-{{key}}">
					<div class="text-left">
						<span class="glyphicon glyphicon-warning-sign"></span><span> {{val.ruleMessage}}</span>
						<span class="badge pull-right">{{val.tuples.length}}</span>					
					</div>
				</div>
				<ul class="list-group collapse" id="invariant-{{key}}">
					<li class="list-group-item" ng-repeat="tuple in val.tuples track by $index">
						<span>{{tuple.violationMessage}}</span>
					</li>
				</ul>
			</div>
		</div>
					
		<div id="signals" ng-show="$storage.notificationPrefs.switchShowSignals">
			<div class="panel panel-warning" ng-repeat="(key, val) in notifications.signals">
				<div class="panel-heading btn btn-block" data-toggle="collapse" data-target="#violation-{{key}}">
					<div class="text-left">
						<span class="glyphicon glyphicon-bell"></span><span> {{val.ruleMessage}}</span>
						<span class="badge pull-right">{{val.tuples.length}}</span>					
					</div>
				</div>
				<ul class="list-group collapse" id="violation-{{key}}">
					<li class="dropdown list-group-item" ng-repeat="tuple in val.tuples track by $index">
						<a ng-if="tuple.links.length > 1" href="" class="dropdown-toggle" data-toggle="dropdown">{{tuple.violationMessage}}</a>
						<ul ng-if="tuple.links.length > 1" class="dropdown-menu" role="menu">
							<li ng-repeat="link in tuple.links">
								<a ng-href="{{link}}" data-toggle="collapse" data-target="#violation-{{key}}">{{link}}</a>
							</li>
						</ul>
						<a ng-if="tuple.links.length == 1" ng-href="{{tuple.links[0]}}" data-toggle="collapse" data-target="#violation-{{key}}">{{tuple.violationMessage}}</a>
						<span ng-if="tuple.links.length == 0">{{tuple.violationMessage}}</span>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- Success notifications must be last in notifications center because of position:absolute -->
		<div id="successes" ng-show="$storage.notificationPrefs.switchShowSuccesses">
			<div class="alert alert-success alert-dismissible" role="alert" ng-repeat="success in notifications.successes">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<span class="glyphicon glyphicon-ok-sign"></span><span> {{success.message}}</span>
			</div>
		</div>
	</div>
</div>