<nav class="navbar navbar-default" role="navigation" ng-controller="static_navigationBarController">	
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-options">Options</button>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-interfaces">Interfaces</button>
			<a class="navbar-brand" href="#/"><span class="glyphicon glyphicon-home"></span></a>
		</div>
		<ul class="collapse navbar-collapse nav navbar-nav" id="navbar-interfaces">
			<li id="{{interface.label}}" ng-repeat="interface in navbar.top"> <!-- the interface id is there so we can style specific menu items with css -->
				<a href="#/{{interface.id}}">
					<span class="glyphicon glyphicon-list-alt"></span> {{interface.label}}</a>
			</li>
		</ul>
		
		<ul class="collapse navbar-collapse nav navbar-nav navbar-right" id="navbar-options">	
			<li class="dropdown" uib-tooltip="Show/hide notifications" tooltip-trigger="mouseenter" tooltip-placement="left">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span></a>
				<ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation();">
					<li class="dropdown-header">Rule violations</li>
						<li><switch ng-model="$storage.notificationPrefs.switchShowSignals"> Show signals</switch></li>
						<li><switch ng-model="$storage.notificationPrefs.switchShowInvariants"> Show invariants</switch></li>
					<li class="dropdown-header">User logs</li>
						<li><switch ng-model="$storage.notificationPrefs.switchShowErrors"> Show errors</switch></li>
						<li><switch ng-model="$storage.notificationPrefs.switchShowWarnings"> Show warnings</switch></li>
						<li><switch ng-model="$storage.notificationPrefs.switchShowInfos"> Show infos</switch></li>
						<li><switch ng-model="$storage.notificationPrefs.switchShowSuccesses"> Show successes</switch></li>
						<li><switch ng-model="$storage.notificationPrefs.switchAutoHideSuccesses"> Auto hide successes</switch></li>
					<li class="dropdown-header">Transaction settings</li>
						<li><switch ng-model="$storage.switchAutoCommit"> Auto commit changes</switch></li>
					<li class="divider" role="presentation"></li>
						<li><a href="" ng-click="resetSettings();"><span class="glyphicon glyphicon-repeat" style="margin: 4px; width: 30px;"></span> Default settings</a></li>
				</ul>
			</li>
			
			<li class="dropdown" uib-tooltip="Refresh/reset options" tooltip-trigger="mouseenter" tooltip-placement="left">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-refresh"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="" ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span> Refresh page</a></li>
					<li><a href="#/" ng-click="destroySession()"><span class="glyphicon glyphicon-repeat"></span> Reset session</a></li>
					<li><a href="#/admin/installer"><span class="glyphicon glyphicon-trash"></span> Reinstall database</a></li>
					<li ng-if="navbar.refreshMenu" class="divider" role="presentation"></li>
					<li ng-repeat="app in navbar.refreshMenu" ng-include="app.url"/>
				</ul>
			</li>
			
			<li ng-if="navbar.appMenu" class="dropdown" uib-tooltip="Select application extensions" tooltip-trigger="mouseenter" tooltip-placement="left">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="app in navbar.appMenu" ng-include="app.url"/>
					<!-- <li class="divider" role="presentation"></li>-->					
				</ul>
			</li>
			
			<li ng-if="navbar.new.length" class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-plus"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#/{{interface.id}}?new" ng-repeat="interface in navbar.new">{{interface.label}}</a></li>
				</ul>
			</li>
			
			<li ng-if="$sessionStorage.sessionRoles.length > 0 || navbar.roleMenu" class="dropdown" uib-tooltip="Switch between different roles" tooltip-trigger="mouseenter" tooltip-placement="right">
				<a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="role in $sessionStorage.sessionRoles" ng-click="$event.stopPropagation(); toggleRole();"><switch ng-model="role.active"> {{role.label}}</switch></li>
					<li ng-if="navbar.roleMenu && $sessionStorage.sessionRoles.length > 0" class="divider" role="presentation"></li>
					<li ng-repeat="ext in navbar.roleMenu" ng-include="ext.url"/>
				</ul>
			</li>
		</ul>
	</div>
</nav>