.navbar {
    min-height: initial;
    margin-bottom: 0px;
}

.navbar-header>.navbar-brand {
    height: 40px;
    margin-left: 0px;
    padding: 10px;
    font-size: 14px;
}

.navbar-toggle {
    padding: 0px;
}

.navbar-collapse {
    padding-left: 0px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

/* styles to keep navbar in one row */

#navbar-interfaces {
    float: left;
    white-space: nowrap; /* prevents wrapping of sub elements */
}

.navbar-nav>li {
    float: none; /* overwrite bootstrap float: left */
    display: inline-block; /* put elements side by side */
}

#navbar-options {
    float: right;
}

.navbar-nav {
    margin: 0px;
}

/* title */

.navbar-default .navbar-brand {
    color: #428bca;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}

/* link */

.navbar-default .navbar-nav>li>a {
    color: #428bca;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #333;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #E7E7E7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #555;
    background-color: #D5D5D5;
}

/* caret */

.navbar-default .navbar-nav>.dropdown>a .caret {
    border-top-color: #428bca;
    border-bottom-color: #428bca;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret, .navbar-default .navbar-nav>.dropdown>a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret, .navbar-default .navbar-nav>.open>a:hover .caret, .navbar-default .navbar-nav>.open>a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* mobile version */

.navbar-default .navbar-toggle {
    border-color: #DDD;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #428bca;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
    }
}

/* dropdown submenu's */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #ffffff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}