<nav class="navbar navbar-default" role="navigation" ng-controller="NavigationBarController" cg-busy="{promise:loadingNavBar}">
    <div id="navbar-wrapper" class="container">
        <ul class="nav navbar-nav" id="navbar-interfaces" my-navbar-resize>
            <li><a href="#/"><span class="glyphicon glyphicon-home"></span></a></li>
            <li id="navbar-interfaces-dropdown" class="dropdown" uib-tooltip="More interfaces" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                <ul id="navbar-interfaces-dropdown-menu" class="dropdown-menu" role="menu"></ul>
            </li>
            <li id="{{interface.label}}" ng-repeat="interface in navbar.top"> <!-- the interface id is there so we can style specific menu items with css -->
                <a href="#/{{interface.id}}">
                    <span class="glyphicon glyphicon-list-alt"></span> {{interface.label}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="navbar-options">
            <!-- hidden on extra small devices, e.g. phone (<768px) -->
            <li class="dropdown hidden-xs" uib-tooltip="Show/hide notifications" tooltip-trigger="mouseenter" tooltip-placement="left">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-bullhorn"></span></a>
                <ul class="dropdown-menu" role="menu" ng-click="$event.stopPropagation();">
                    <li class="dropdown-header">Transaction settings</li>
                        <li><switch ng-model="localStorage.notify_showSignals"> Show signals</switch></li>
                        <li><switch ng-model="localStorage.notify_showInvariants"> Show invariants</switch></li>
                        <li><switch ng-model="localStorage.autoSave"> Auto save changes</switch></li>
                    <li class="dropdown-header">User logs</li>
                        <li><switch ng-model="localStorage.notify_showErrors"> Show errors</switch></li>
                        <li><switch ng-model="localStorage.notify_showWarnings"> Show warnings</switch></li>
                        <li><switch ng-model="localStorage.notify_showInfos"> Show infos</switch></li>
                        <li><switch ng-model="localStorage.notify_showSuccesses"> Show successes</switch></li>
                        <li><switch ng-model="localStorage.notify_autoHideSuccesses"> Auto hide successes</switch></li>
                    <li class="divider" role="presentation"></li>
                        <li><a href="" ng-click="resetSettingsToDefault();"><span class="glyphicon glyphicon-repeat" style="margin: 4px; width: 30px;"></span> Default settings</a></li>
                </ul>
            </li>
            
            <!-- hidden on extra small devices, e.g. phone (<768px) -->
            <li class="dropdown hidden-xs" uib-tooltip="Tools" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="app in navbar.refresh" ng-include="app.url"/>
                    <li><a href="" ng-click="reload()"><span class="glyphicon glyphicon-refresh"></span> Refresh page</a></li>
                    <li ng-repeat="ext in navbar.ext" ng-include="ext.url"/>
                </ul>
            </li>
            
            <!-- hidden on extra small devices, e.g. phone (<768px) -->
            <li ng-if="navbar.new.length" class="dropdown hidden-xs" uib-tooltip="Create new resource" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="item in navbar.new" ng-class="{'dropdown-submenu' : item.ifcs.length > 1}">
                        <!--<a  style="position:relative; display:inline-block;">-->
                        <a ng-if="item.ifcs.length > 1" tabindex="-1" href="#">{{item.label}}</a>
                        <ul ng-if="item.ifcs.length > 1" class="dropdown-menu" role="menu">
                            <li ng-repeat="ifc in item.ifcs">
                                <a tabindex="-1" href="#" ng-click="createNewResource(ifc.resourceType, ifc.link);">{{ifc.label}}</a>
                            </li>
                        </ul>
                        
                        <a ng-if="item.ifcs.length == 1" href="" ng-click="createNewResource(item.ifcs[0].resourceType, item.ifcs[0].link);">{{item.label}}</a>
                        <span ng-if="item.ifcs.length == 0">{{item.label}}</span>
                    </li>
                </ul>
            </li>
            
            <li ng-if="sessionStorage.sessionRoles.length || navbar.role.length" class="dropdown" uib-tooltip="Switch roles" tooltip-trigger="mouseenter" tooltip-placement="bottom">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="role in sessionStorage.sessionRoles" ng-click="$event.stopPropagation();"><switch ng-model="role.active" ng-click="toggleRole(role.id);"> {{role.label}}</switch></li>
                    <li ng-if="navbar.role.length && sessionStorage.sessionRoles.length" class="divider" role="presentation"></li>
                    <li ng-repeat="ext in navbar.role" ng-include="ext.url"/>
                </ul>
            </li>
        </ul>
    </div>
</nav>