body {
	margin: 0px;
}

#ScrollPane {
    overflow:auto; 
    position:absolute;
    top: 50px;
    left:0px;
    right:0px;
    bottom:0px;
    padding-top: 26px;
}

[editing=false] .Atom[hasInterface]>.AtomName {
    cursor: pointer;
    color: blue
}

.AtomList {
    display: table;
    border: 0px;
    margin: 0px;
    padding-left: 10px;
    cell-padding: 0px;
    margin: 4px;
}
    
.AtomRow[rowType=NewAtomTemplate] {
    display: none;
}  
.AtomRow {
    display: table-row;
}
.AtomListElt {
    display: table-cell;
}
.DeleteStub {
    display: none;
}
.InsertStub {
    display: none;
}
    
[editing=true] .AtomRow[rowStatus=deleted] {
    display: none;
}

[dev=true][editing=true] .AtomRow[rowStatus=deleted] {
    display: table-row;
}
[dev=true][editing=true] .Atom[status=deleted]>.AtomName {
    text-decoration: line-through;
}

[dev=true][editing=true] .Atom[status=modified]>.AtomName {
    font-style: italic;
}
    
[dev=true][editing=true] .Atom[status=new]>.AtomName {
    color:blue;
}


.Atom[atom='']>.AtomName:after {
    content: "<empty>";
    font-weight: bold;
}
    
.Atom[atom=''][status=new]>.AtomName:after {
    content: "<new>";
    font-weight: bold;
}
    
.Label {
    font-family: Arial;
    font-style: bold;
    color: #707070;
}


/* Buttons */

.Button {
    position: relative;
    float: left;
    z-index: 50;
}

[editing=true] .EditButton {
    display: none;
}
    
.SaveButton {
    display: none;
}
    
[editing=true] .SaveButton {
    display: block;
}
    
.CancelButton {
    display: none;
}
    
[editing=true] .CancelButton {
    display: block;
}
    
.InterfaceList {
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    -moz-border-radius: 5px;  /* rounded corners for Firefox */
    -webkit-border-radius: 5px;  /* rounded corners for Safari */
    background-color: white;
}
 
    
/* Editing */  

[editing=true] .AtomList[relation] {
    border-color: #0000ff;
    border-style: solid;
    border-width: 2px ;
    padding-right: 4px;
    background-color: #f0f0f0;
}

[editing=true] .AtomList[relation][hover=true] {
    border-color: #0080ff;
    background-color: #e0e0e0;
}
      
[editing=true] .AtomList[relation][hover=true] > .AtomRow > .AtomListElt > .Atom > .AtomName:hover {
    background-color: #808080;
}
    
[editing=true] .AtomList[relation] > .AtomRow > .DeleteStub {
    display: table-cell;
    visibility: hidden;
    background-image: url('../images/DeleteButton.png');
    background-repeat:no-repeat;
    background-position: 6px 1px;
    width: 25px;
}

[editing=true] .AtomList[relation] > .AtomRow[rowType=Normal] > .DeleteStub {
    display:table-cell;
}

[editing=true] .AtomList[hover=true] > .AtomRow[rowType=Normal] > .DeleteStub {
    visibility: visible;
}
    
[editing=true] .AtomList[hover=true] > .AtomRow > .DeleteStub:hover {
    background-image: url('../images/DeleteButtonHover.png');
}
 

[editing=true] .AtomList[relation] > .AtomRow > .InsertStub {
    display:block;  /* only show the insert stub when there is an editable relation*/
}

.AtomList .InsertStub {
    visibility: hidden;
    padding: 1px 7px 1px 7px;
    font-family: Arial;
    font-style: bold;
    font-size: 80%;
    color: white;
    background-color: #909090;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    -moz-border-radius: 7px;  /* rounded corners for Firefox */
    -webkit-border-radius: 7px;  /* rounded corners for Safari */
}
 
[editing=true] .AtomList[hover=true]>.AtomRow>.InsertStub {
    visibility: visible;
}
    
[editing=true] .AtomList[hover=true]>.AtomRow>.InsertStub:hover {
    background-color: #606060;
    cursor: default;
}

 
 /* Navigation context menu */

#FullScreenMask {
    display: block;
    position: fixed;
    z-index: 50;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#InterfaceContextMenu {
    position: absolute;
    z-index: 51;
    border-style: solid;
    color: black;
    background-color: #f8f8f8;
    border-width: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}
    
.InterfaceContextMenuItem {
    display: block ;
    font-family: Arial;
    font-size: 15px;
    color: black;
    padding-left:6px;
    padding-right:16px;
}

.InterfaceContextMenuItem:hover {
    font-family: Arial;
    color: white;
    background-color: blue;
}


/* Log windows */

.LogWindow {
    font-family: arial;
	  position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 10px;
    z-index: 25;
    width: 200px; /* each log window sets its own maximized width */
}
.LogWindow>.MinMaxButton { /* not a button but an icon */
  float: right;
}
.LogWindow>.Title {
    color: black;
    font-weight: bold;
    margin-bottom: 3px;
}
.LogWindow>.LogItem {
    display: block;
    font-size: 90%;
}
.LogWindow>.MinMaxButton {
    background-repeat:no-repeat;
    width: 10px;
    height: 6px;
    font-family: courier;
    font-weight: bold;
}
.LogWindow[minimized=false]>.MinMaxButton:after {
    content: "\2228";  /* unicode logical or (v) */ 
}
.LogWindow[minimized=true] {
    padding: 4px 10px 2px 10px;
}
.LogWindow[minimized=true]>.Title {
    margin-bottom: 0px;
}
.LogWindow[minimized=true]>.MinMaxButton {
	  margin-top: 1px;
}
.LogWindow[minimized=true]>.MinMaxButton:after {
    content: "\2227";  /* unicode logical and (^) */
}
.LogWindow[minimized=true]>.LogItem {
    display:none
}

#PhpLog {
    display: none;
    bottom: 5px;
    right: 5px;
    background-color: lightblue;
}
#PhpLog[minimized=false] {
    width: 500px;
} 
[dev=true] #PhpLog[nonEmpty=true] {
    display: block;
}
#PhpLog>.MinMaxButton {
    color: white;
}
#PhpLog>.LogMsg {
    font-size: 80%;
}
    
#DbCommandList {
    display: none;
    right: 5px;
    background-color: #d0d0d0;
}
#DbCommandList[minimized=false] {
    width: 500px;
} 
[editing=true][dev=true] #DbCommandList {
    display: block;
}
#DbCommandList>.MinMaxButton {
	  color: white;
}
#DbCommandList[minimized=false]>.MinMaxButton:after { /* switch buttons, since this log window is positioned at the top */
    content: "\2228";  /* unicode logical or (v) */ 
}
#DbCommandList[minimized=true]>.MinMaxButton:after {
    content: "\2227";  /* unicode logical and (^) */
    margin-top: 5px;
}

#IssueList {
    display: none;
    left: 5px;
    bottom: 5px;
    color: red;
    background-color: #f0f0f0;
    border-width: 2px;
    border-color: red;
}
#IssueList[minimized=false] {
    width: 600px;
} 
[editing=true] #IssueList[nonEmpty=true] {
    display: block;
}    
#IssueList>.MinMaxButton {
    color: black;
}
#IssueList>.Error {
    font-size: 90%;
    color: darkred;
}

#SignalLog {
    display: none;
    right: 5px;
    bottom: 5px;
    color: black;
    background-color: #f0f080;
    border-width: 2px;
}
#SignalLog[minimized=false] {
    width: 600px;
} 
#SignalLog[nonEmpty=true] {
    display: block;
}    
#SignalLog>.MinMaxButton {
    color: black;
}
#IssueList>.Error {
    font-size: 90%;
    color: darkred;
}

/* Misc */

.InternalError { /* for unhandled errors, should not appear */
    background-color: red;
    color: white;
}

#Rollback { /* used for parking a clone of the root atom during editing */
    display: none;
}

.ui-autocomplete > .ui-menu-item /{ * jQuery autocomplete menu items */
    font-size: 13px;
}
    
