.AtomName 
  { width: 100%
  }

.Atom[status=deleted]>.AtomName
  { text-decoration: line-through
  }

.Atom[status=modified]>.AtomName 
  { font-style: italic
  }
  
.Atom[status=new]>.AtomName
  { color: blue
  }

.Atom[atom='']>.AtomName:after
  { content: "<empty>";
  ; font-weight: bold
  }
  
.Atom[atom=''][status=new]>.AtomName:after
  { content: "<new>";
  ; font-weight: bold
  }
  
.Label 
  { font-family: Arial
  ; font-style: bold
  ; color: #707070
  ; background-color: #505050);
  }

.AtomList
  { margin:0
  ; padding:0
  ; cell-padding: 0
  }

[editing=true] .EditButton
  { display: none
  }
  
.SaveButton
  { display: none
  }
  
[editing=true] .SaveButton
  { display: inline
  }
  
.CancelButton
  { display: none
  }
  
[editing=true] .CancelButton
  { display: inline
  }
 
[editing=true] .AtomList[hover=true]
  { border-color: #909090
  }
  
.Container
  { empty-cells:show 
  ; background-color: white
  ; margin: 2px
  ; border-color: transparent
  ; border-style: solid
  ; border-width: 2px 
  }
  
[editing=true] .Container[relation]
  { border-color: #0080ff
  ; background-color: #f0f0f0
  }
  
[editing=true] .Container[hover=true]
  { background-color: #f0f0f0
  }
  
[editing=true] .Container[hover=true] .AtomName:hover
  { background-color: #808080
  }
  
.AtomList .DeleteStub
  { width: 25px
  }
  
[editing=true] .AtomList[hover=true]>tbody>tr>.DeleteStub
  { background-image: url('../images/DeleteButton.png')
  ; background-repeat:no-repeat
  ; width: 25px
  }
  
[editing=true] .AtomList[hover=true]>tbody>tr>.DeleteStub:hover
  { background-image: url('../images/DeleteButtonDown.png')
  }
 
.NewAtomTemplate
  { display: none
  }
 
.AtomList .InsertStub
  { visibility: hidden
  ; padding-left: 7px
  ; padding-right: 7px
  ; font-family: Arial
  ; font-style: bold
  ; font-size: 80%
  ; color: white
  ; background-color: #909090
  ; border-style: solid
  ; border-width: 1px
  ; border-color: black
  ; -moz-border-radius: 7px       /* rounded corners for Firefox */
  ; -webkit-border-radius: 7px    /* rounded corners for Safari */
  }
 
[editing=true] .AtomList[hover=true]>tbody>tr>.InsertStub
  { visibility: visible
  }
  
[editing=true] .AtomList[hover=true]>tbody>tr>.InsertStub:hover
  { background-color: #606060
  ; cursor: default
  }

.Interface 
  { border-style: solid
  ; border-width: 1px
  ; padding-left: 5px
  ; -moz-border-radius: 5px       /* rounded corners for Firefox */
  ; -webkit-border-radius: 5px    /* rounded corners for Safari */
  ; background-color: white
  }
 
.InterfaceContextMenu
  { position: absolute;
  ; border-style: solid
  ; color: black
  ; background-color: #f8f8f8
  ; border-width: 1px
  ; padding-top: 4px
  ; padding-bottom: 4px
  }
  
.InterfaceContextMenuItem
  { display: block 
  ; font-family: Arial
  ; color: black
  ; text-decoration:none /* no underline */
  ; padding-left:6px
  ; padding-right:16px
  }

.InterfaceContextMenuItem:hover 
  { font-family: Arial
  ; color: white
  ; background-color: blue
  }

#CommandQueue
  { float: right
  ; width: 500px
  ; padding: 10px
  ; background-color: #d0d0d0
  ; border-style: solid
  ; border-width: 1px
  ; border-color: black
  }