.Atom {}
.Label { font-family: Arial; font-style: bold; color: #707070 }
.Interface { border-style: solid
           ; border-width: 1px
           ; padding-left: 5px
           ; -moz-border-radius: 5px       /* rounded corners for Firefox */
           ; -webkit-border-radius: 5px    /* rounded corners for Safari */
           }