@CHARSET "UTF-8";

/* Coming from Milan style sheet */

body { font-family: Arial, Helvetica, sans-serif; color: #333333;}
a { text-decoration: none; }

#Header { width: 100%; height: 116px; background: white; padding:0px, margin:0px }
#Decoration { float: right; height: 116px; width: 529px; background: url(../images/header_decoration.jpg) no-repeat;}
#TopLevelInterfaces { width: 100%; }
#TopLevelInterfaces ul { background: #333333 url(../images/menu_bg.jpg) repeat-x bottom center; padding: 3px 0px 8px 10px
                       ; margin: 0 0 0 0}
#TopLevelInterfaces ul li { list-style: none; display:inline}
#TopLevelInterfaces ul li a { padding: 4px 20px 3px 20px; font-size: 15px; color: white; height:100% }
#TopLevelInterfaces ul li a:hover { background: white; color: #BF1E74; }

button.button { border:none; font-size:80%; width: 120px; height: 30px; background: url(../images/button.gif) no-repeat 0px 0px
              ; text-align: center; font-weight: bold; color: #333; margin-right: 20px; }
button.button:hover { background-position: 0px -30px; color: white; }


#AmpersandRoot {
    top: 141px; /* there's probably a way to get this lenght automatically, but it might involve adding some more diffs */
    padding-top: 10px;
    padding-left: 10px;    
}

/* Atom name */  

.AtomName {
    display: block;  
    float: left; /* so the dotted underline for multiple interfaces doesn't stretch */
    font-family: Arial;
    font-style: bold;
    font-size: 13px;
    border-bottom-width: 1px;
    border-bottom-style: dotted; /* only specifying the width does not reserve space for the border */
    border-bottom-color: transparent; /* so we switch it on and off with the color */
}

/* AtomName for atoms without subinterfaces (atomic=true) */
[editing=false] .Atom[atomic=true][hasInterface] > .AtomName {
    cursor: pointer;
    color: #1A9AEA;
}
[editing=false] .Atom[atomic=true][hasInterface=multiple] > .AtomName {
    cursor: pointer;
    color: #1A9AEA;
    border-bottom-color: #1A9AEA;
}
[editing=false] .Atom[atomic=true][hasInterface] > .AtomName:hover {
    color: #BF1E74;
}
[editing=false] .Atom[atomic=true][hasInterface=multiple] > .AtomName:hover {
    border-bottom: 1px dotted #BF1E74;
}
[editing=true] .Atom[atomic=true][hasInterface] > .AtomName {
    color: black;
    float: none;  /* so the background that signifies editability does stretch */
}

/* AtomName for atoms with subinterfaces (atomic=false)
   These get a button for navigation and are not displayed while editing */
[editing=false] .Atom[atomic=false] > .AtomName {
    color: transparent;
    white-space: nowrap;
    float: right;
    margin-right: 2px;
    margin-top: -7px;
    width: 20px;
    background-repeat:no-repeat;
    background-position: 0px 0px;
}
[editing=false] .Atom[atomic=false][hasInterface] > .AtomName {
    background-image: url('../images/NavigationButton.png');
}
[editing=false] .Atom[atomic=false][hasInterface=multiple] > .AtomName {
     background-image: url('../images/NavigationButtonMulti.png');
}
[editing=false] .Atom[atomic=false][hasInterface] > .AtomName:hover {
    background-image: url('../images/NavigationButtonHover.png');
} 
[editing=false] .Atom[atomic=false][hasInterface=multiple] > .AtomName:hover {
     background-image: url('../images/NavigationButtonMultiHover.png');
}

/* when we are editing, we do show the atom name, otherwise new atoms will have empty names */
[editing=true] .Atom[atomic=false] > .AtomName {
    float: none;
}
[editing=true] .InterfaceList {
    margin-top: 3px;  /* with the name displayed we don't need as much space here */
}


/* DeleteStub */
[editing=true] .AtomList[relation] > .AtomRow > .DeleteStub {
  	background-position: 0px 4px;
  	width: 22px;
}
[editing=true] .AtomList[relation] { /* in this case, the delete stub will serve as the padding */
    padding-left: 0px;
}



/* Special behavior for top level elements */

#AmpersandRoot > .Atom > .AtomName {
    display: none;
} 
#AmpersandRoot > .Atom > .InterfaceList {
    border: none;
    padding: 0px;
} 

#AmpersandRoot > .Atom > .InterfaceList > .Interface> .Label {
    font-size: 24px; color: #BF1E74; font-weight: bold; margin-top:20px; margin-bottom:10px;
} 

#AmpersandRoot > .Atom > .InterfaceList > .Interface > .AtomList {
    display: block;
    margin: 0px;
    border-width: 0px;
} 

#AmpersandRoot > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow[rowType=Normal] {
    display: block;
} 

#AmpersandRoot > .Atom > .InterfaceList> .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .AtomName {
    display: none;
} 

#AmpersandRoot > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList {
    border: none;
    padding: 0px;
} 

#AmpersandRoot > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface {
    float: left;
    border-style: solid;
    border-color: #CDD8DE;
    border-width: 1px;
    -moz-border-radius: 5px;  /* rounded corners for Firefox */
    -webkit-border-radius: 5px;  /* rounded corners for Safari */
    padding: 10px;
    margin-left: 0px;
    margin-right: 20px;
}
    
#AmpersandRoot > .Atom > .InterfaceList > .Interface > .AtomList > .AtomRow > .AtomListElt > .Atom > .InterfaceList > .Interface > .Label {
    font-size: 16px; color: #253E8A; font-weight: bold; margin-bottom: 10px;
}
    

/* Spacing */
.Label {
    font-size: 13px;
    margin-bottom: 3px;
}

.AtomList {
    margin: 0px;
    padding-bottom: 2px;
    border: 0px;
}
.AtomListElt {
    padding: 0px;
    padding-bottom: 6px;
} 

.InterfaceList {
    margin-top: 10px;
    padding: 5px;
} 
    
.Interface {
    margin-bottom: 0px;
}