/* Standard Elements */

body { font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #333333; line-height: 150%; }
a, a:link { color: #1A9AEA; }
a, a:link, a:hover, a:visited { text-decoration: none; }
a:hover { color: #BF1E74; }

h1 { font-size: 24px; color: #BF1E74; font-weight: bold; line-height: 120%; padding-bottom: 10px; }
h2, .FloaterHeader { font-size: 18px; color: #253E8A; font-weight: bold; line-height: 120%; }

/* Lay-out */

#container { width: 100%; margin: 0 auto; }
#container #header { float: left; width: 100%; height: 116px; background: white; }
#container #header #logo { float: left; display: block; padding: 30px 0 0 20px; }
#container #header #decoration { float: right; display: block; height: 116px; width: 709px; background: url(../images/header_decoration.jpg) no-repeat; }

#container #menu .primary { float: left; width: 100%; height: 100%; background: #333333 url(../images/menu_bg.jpg) repeat-x bottom center; }
#container #menu .primary ul li a { float: left; display: block; height: 22px; padding: 8px 20px 0 20px; font-size: 16px; color: white; font-weight: bold; }
#container #menu .primary ul li a:hover { background: white; color: #BF1E74; }
#container #menu .primary ul li a.right { float: right; }

#container #content { clear: both; float: left; padding: 20px; }
#container #content .Floater { float: left; margin-right: 20px; margin-bottom: 20px; padding: 20px; -moz-border-radius: 5px; border: 1px solid #CDD8DE; }
#container #content .Floater .FloaterHeader { padding-bottom: 10px; }
#container #content .Floater .FloaterContent a.GotoLink { border-bottom: 1px dotted #1A9AEA; cursor: pointer; }
#container #content .Floater .FloaterContent a.GotoLink:hover { border-bottom: 1px dotted #BF1E74; }
#container #content .Floater .FloaterContent div.Goto { display: none; position: absolute; margin-left: 10px; padding: 10px; -moz-border-radius: 5px; border: 1px solid #CDD8DE; background: white; }
#container #content .Floater .FloaterContent div.GotoArrow, .x { float: right; display: block; height: 20px; width: 20px; background: white; text-align: center; line-height: 20px; -moz-border-radius: 5px; border: 1px solid #CDD8DE; background: #CDD8DE; cursor: pointer; }
#container #content .Floater .FloaterContent ul li div.GotoArrowHover, .xHover { background: white; -moz-border-radius: 5px; border: 1px solid #CDD8DE; }
#container #content .item, #container #content .new, #container #content .itemshow { margin: 0px; padding: 3px; width: 100%; }
#container #content .Edit .item, #container #content .Edit .new { cursor: pointer; }
#container #content .Edit .hover { background: #CDD8DE; }
#container #content .Floater .FloaterContent .hover { background: #CDD8DE; cursor: pointer; }

#container #buttons { width: 90%; clear: both; float: left; padding-left: 20px; }
#container #buttons ul li a.button { float: left; display: block; width: 120px; height: 30px; background: url(../images/button.gif) no-repeat 0px 0px; line-height: 30px; text-align: center; font-weight: bold; color: #333; margin-right: 20px; }
#container #buttons ul li a.button:hover { background-position: 0px -30px; color: white; }

#container #notice { clear: both; float: left; padding: 40px 0 0 20px; color: #CDD8DE; }
#container #errors { clear: both;  }

/* Error */
#errorPopup { position: relative; z-index: 1; top: 20px; left: 20px; width: 500px; padding: 10px; border: 1px solid #BF1E74; background: white; }
#error { font-size: 14px; color: #BF1E74; font-weight: bold; padding-bottom: 10px; }
#error i { font-size: 14px; color: #BF1E74; font-weight: bold; padding-bottom: 10px; }
#errorClose { float: right; display: block; height: 15px; width: 15px; border: 1px solid #CDD8DE; color: #BF1E74; line-height: 10px; padding: 3px 0 0 7px; }
#errorClose:hover { cursor: pointer; border: 1px solid #BF1E74; }