html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 12px;
}

#header {
    position: fixed;
    height: 40px;
    margin-top: 3px;
    left: 0;
    right: 0;
    z-index: 1030;
    height: 45px;
    background-color: white;
}

#navbar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: white;
}

#main {
    display: block;
    margin: 0 auto 60px;
    /* Margin bottom by footer height */
    padding: 50px 15px 50px 15px;
    min-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    padding-top: 10px;
    background-color: #f8f8f8;
}

#ampersand-footer img {
    height: 30px;
}

#ampersand-footer-logos img {
    height: 20px;
    margin: 2px;
}

/* Original Bootstrap's CSS depends on empty href attributes to style cursors 
for several components (pagination, tabs etc.). But in AngularJS adding empty 
href attributes to link tags will cause unwanted route changes. This is why we 
need to remove empty href attributes from directive templates and as a result 
styling is not applied correctly. The remedy is simple, just add the following 
styling to your application: */

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}