html {
	position			: relative;
	min-height			: 100%;
}

/********* HEADER *****************/

#header {
	position			: fixed;
	height				: 40px;
	margin-top			: 3px;
	left				: 0;
	right				: 0;
	z-index				: 1030;
	height				: 45px;
	background-color	: white;
}

/********* NAVBAR *****************/

#navbar {
	position			: fixed;
	top					: 0px;
	left				: 0;
	right				: 0;
	z-index				: 1030;
	background-color	: white;
}

.navbar {
	min-height			: initial;
	margin-bottom		: 0px;
}

.navbar-header > .navbar-brand {
	height				: 40px;
	margin-left			: 0px;
	padding				: 10px;
	font-size			: 14px;
}

.navbar-toggle {
	padding				: 0px;
}

.navbar-collapse {
	padding-left		: 0px;
}

.navbar-nav > li > a {
	padding-top			: 10px;
	padding-bottom		: 10px;
}

/********* NAVBAR STYLE *****************/
/* navbar */
.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #428bca;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #428bca;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #428bca;
    border-bottom-color: #428bca;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #428bca;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/********* MAIN *****************/
#main {
	display				: block;
	margin				: 0 auto 60px; /* Margin bottom by footer height */
  	padding				: 50px 15px 50px 15px;
	min-height			: 100%;
}

/********* FOOTER *****************/

#footer {
	position			: absolute;
	bottom				: 0px;
	width				: 100%;
	height				: auto;
	padding-top			: 10px;
	background-color	: #f8f8f8;
}

#ampersand-footer img {
	height				: 30px;
}

#ampersand-footer-logos img {
	height				: 20px;
	margin				: 2px;
}


/********* INTERFACES *****************/
.interface table {
	width				: auto;
	margin-bottom		: 0px;	/* Overrides margin-bottom set to 20px by bootstrap.min.css */
}
.interface .CRUDbuttons {
	font-size			: 14px;
	margin-top			: 5px;
	padding 			: 5px;
}
.interface .glyphicon-plus {
	color				: green; 
}

fieldset {
	padding				: 10px;
}

.tab-pane {
	padding				: 15px;
}

.box .row {
	margin-bottom		: 15px;
}

.interface .panel-heading {
	padding-top			: 1px;
	padding-bottom		: 1px;
}

.interface .panel-heading-options {
	height				: 38px;
	display				: flex;
	align-items			: center;
}

.interface .panel-heading-options .btn {
	margin				: 3px;
}

.wordwrap {
	/* source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
	white-space			: pre-wrap;		/* CSS3 */
	white-space			: -moz-pre-wrap;/* Firefox */
	white-space			: -pre-wrap;	/* Opera <7 */
	white-space			: -o-pre-wrap;	/* Opera 7 */
	word-wrap			: break-word;	/* IE */	
}

.sortable-col {
	min-width			: 35px;
}

.bigalphanumeric:hover, .hugealphanumeric:hover {
	border-width		: 1px;
	border-style		: solid;
	border-color		: lightgray;
	padding				: 5px 10px 5px 10px; 
	font-size			: 12px;
	margin-bottom		: 5px;
	width				: 100%;
}

/********* FORMS, INPUTS, ETC **************/
input .ng-invalid .ng-dirty {
	border				: 2px solid red;
}

.pointer {
	cursor				: pointer;
}

/********* GLYPHICONS **************/
.glyphicon {
	cursor				: pointer;
}

.glyphicon-remove {
	color				: red; 
}

.glyphicon-minus {
	color				: red;
}

.glyphicon-ok {
	color				: green; 
}

.glyphicon-orange {
	color				: orange;
}

.glyphicon-blue {
	color				: #428bca;
}

/*********** BREADCRUMB ****************/
#breadcrumb ol {
	margin-bottom		: 10px;
}

/********* NOTIFICATION CENTRE **************/
#notificationCenter {
	position			: relative; // fixed;
	margin-bottom		: 10px;
	// right			: 0px;
	// z-index			: 999;
}

#successes {
	position			: absolute;
	width				: 100%;
	z-index				: 999;
}

#notificationCenter .alert {
	margin-bottom		: 2px;
	padding-top			: 5px;
	padding-bottom		: 5px;
}

#notificationCenter .panel {
	margin-bottom		: 2px;
}

#notificationCenter .panel-heading {
	padding-top			: 5px;
	padding-bottom		: 5px;
}

#notificationCenter .panel .list-group-item {
	padding-top			: 5px;
	padding-bottom		: 5px;
}

/********* LOG WINDOW *****************/
#logWindow {
	height				: 400px;
	width				: 100%;
	overflow-y			: scroll;
}