.interface table {
    width: auto;
    margin-bottom: 0px;
    /* Overrides margin-bottom set to 20px by bootstrap.min.css */
}

fieldset {
    padding: 10px;
}

.tab-pane {
    padding: 15px;
}

.box .row {
    margin-bottom: 15px;
}

.interface .interface-opt {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.interface .interface-opt .btn {
    margin: 5px 0px 5px 2px;
}

.interface .box-cols .box-cols-opt {
    text-align: right;
    z-index: 1;
}

.interface .box-cols-opt .btn {
    margin-left: 2px;
}

.interface .box-tabs .box-tabs-opt {
    padding-top: 10px;
    z-index: 1;
}

.interface .box-tabs-opt .btn {
    margin-left: 2px;
}

.interface .box-panels .box-panels-opt {
    margin-top: -3px;
    z-index: 1;
}

.interface .box-panels-opt .btn {
    margin-left: 2px;
}

.interface .box-rows .box-li-opt, 
.interface .box-panels .box-li-opt {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    z-index: 1;
    /*
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 4px;
    */
}

.interface .box-li-opt .btn {
    margin-left: 2px;
}

.wordwrap {
    word-wrap: break-word;
}

.sortable-col {
    min-width: 35px;
}

.bigalphanumeric .hugealphanumeric {
    padding: 5px 10px 5px 0px;
    width: 100%;
}

.hugealphanumeric:hover {
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    padding-left: 10px;
    margin-bottom: 1px;
}

.view-url input {
    width: 400px;
}

input .ng-invalid .ng-dirty {
    border: 2px solid red;
}

.pointer {
    cursor: pointer;
}

.glyphicon {
    cursor: pointer;
}

.interface .glyphicon-plus {
    color: green;
}

.interface .glyphicon-remove {
    color: red;
}

.interface .glyphicon-minus {
    color: red;
}

.interface .glyphicon-ok {
    color: green;
}

.interface .glyphicon-orange {
    color: orange;
}

.interface .glyphicon-blue {
    color: #428bca;
}