<div class="container-fluid interface">
	<div class="jumbotron">
		<h1>Execution Engine</h1>
		<p>The execution engine provides functionality to....</p>
		<p></p>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-2 control-label">Exec engine on/off</label>
				<div class="col-md-10">
					<switch ng-model="iets"></switch>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-2 control-label">Rules to maintain</label>
				<div class="col-md-10">
					<ol>
						<li ng-repeat="rule in role.maintains"><switch ng-model="iets"> {{rule}}</switch></li>
					</ol>
				</div>
			</div>
		</form>
	</div>
</div>