<!-- Atomic[DATE] "$name$" : [$source$*$target$] ($if(!isEditable)$not $endif$editable) -->
$if(isEditable)$<div class="input-group">
  <input ng-model="val['$name$']" type="text" class="form-control input-sm" datepicker-popup="dd-MM-yyyy" is-open="datepicker[key+'-$name$'].open" ng-blur="patch(ResourceId)"/>
  <span class="input-group-btn">
    <button type="button" class="btn btn-default input-sm" ng-click="openDatepicker(\$event, key+'-$name$')"><i class="glyphicon glyphicon-calendar"></i></button>
  </span> 
</div>$else$<div>
  {{val['$name$'] | date : 'dd-MM-yyyy'}}
</div>$endif$
