<!-- BOX<COLS> "$name$" : $expAdl$ :: $source$ * $target$ $if(!exprIsUni)$[UNI]$endif$$if(!exprIsTot)$[TOT]$endif$  ($if(!isEditable)$not $endif$editable) -->
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
$if(isEditable)$      <th></th><!-- empty header because relation is editable -->
$endif$$subObjects:{subObj|      <th>$subObj.subObjName$</th>
}$    </tr>
  </thead>
  <tbody>
    <tr class="box" ng-repeat="(key, val) in val['$name$'] track by val.id" $if(isRoot)$ng-init="ResourceId = \$index"$endif$>
$if(isEditable)$      <td>
        <span my-showonhover-box class="glyphicon glyphicon-remove" ng-click="removeObject(val['$name$'], key)"></span>
      </td>
$endif$$subObjects:{subObj|
      <!-- BOX<COLS> CHILD: "$subObj.subObjName$" -->
      <td class="row-content">
$subObj.subObjContents$
      </td>}$
    </tr>
  </tbody>
</table>
