/********* WRAPPERS **************/
#mainview {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	padding: 100px 15px 0px 15px;
}

/********* FORMS, INPUTS, ETC **************/
input .ng-invalid .ng-dirty {
	border:2px solid red;
}


/********* GLYPHICONS **************/
.glyphicon-remove {
	color:red; 
	cursor:pointer;
}
.glyphicon-ok {
	color:green; 
	cursor:pointer;
}
.glyphicon-plus {
	color:green; 
	cursor:pointer;
}
.glyphicon-bell {
	color:orange; 
	cursor:pointer;
}

/********* NOTIFICATION CENTRE **************/
#notificationCenter {
	position	: fixed;
	right		: 0px;
	z-index		: 999;
}

.alert {
	margin-bottom :	2px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.panel {
	margin-bottom :	2px;
}

.panel-heading {
	padding-top : 5px;
	padding-bottom : 5px;
}

.panel .list-group-item {
	padding-top : 5px;
	padding-bottom : 5px;
}