/********* WRAPPERS **************/
#mainview {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	padding: 100px 15px 0px 15px;
}

/****** FORMS, INPUTS, ETC *******/
input .ng-invalid .ng-dirty {
	border:2px solid red;
}

.pointer {
	cursor: pointer;
}

/****** INTERFACE STYLES *********/
.transactionButtons {
	text-align		: right;
	height			: 5px;	
}

/********* GLYPHICONS **************/
.glyphicon {
	cursor	: pointer;
}

.glyphicon-remove {
	color	: red; 
}

.glyphicon-ok {
	color	: green; 
}

.glyphicon-plus {
	color	: green; 
}

.glyphicon-orange {
	color	: orange;
}

.glyphicon-blue {
	color	: #428bca;
}

/********* NOTIFICATION CENTRE **************/
#notificationCenter {
	position		: relative; // fixed;
	// right		: 0px;
	// z-index		: 999;
}

.alert {
	margin-bottom :	2px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.panel {
	margin-bottom :	2px;
}

.panel-heading {
	padding-top : 5px;
	padding-bottom : 5px;
}

.panel .list-group-item {
	padding-top : 5px;
	padding-bottom : 5px;
}