#tno-header {
	margin-top			: 3px;
	background-image	: url('../images/bg.png');
	background-repeat	: repeat-x;
	background-size		: contain;
	background-color	: white;
}

#tno-timeline {
	content: url('../images/tnotimeline.png');
}