body {
	padding-top: 0px;
}
input {
	padding: 0px;	
}
input.ng-invalid.ng-dirty {
    border:2px solid red;
  }

.mainview {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	padding: 100px 15px 0px 15px;
}

.fullview {
	padding: 80px 10px 0px 10px;
}

.navbar-fixed-top {
	top: 3px;
}

#tno-header {
	background-image: url('../images/bg.png');
	background-repeat: repeat-x;
	background-size: contain;
}
#tno-timeline {
	content: url('../images/tnotimeline.png');
}
#notificationCenter {
	position	: fixed;
	right		: 0px;
}

svg {
	border: 1px solid black;
}

#ScrollPane {
	top: 0px;
	padding: 0px;
}


.alert {
	margin-bottom :	2px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.panel {
	margin-bottom :	2px;
}

.panel-heading {
	padding-top : 5px;
	padding-bottom : 5px;
}

.panel .list-group-item {
	padding-top : 5px;
	padding-bottom : 5px;
}

.glyphicon-remove {
	color:red; 
	cursor:pointer;
}
.glyphicon-ok {
	color:green; 
	cursor:pointer;
}
.glyphicon-plus {
	color:green; 
	cursor:pointer;
}
.glyphicon-bell {
	color:orange; 
	cursor:pointer;
}